*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

body{
   background:url(../images/home/fundo.png);
}

section.container{
    width: 95%;
    max-width: 1382 px; /*Largura Maxima*/
    height: auto;
    margin: auto;
    
}

section.container div#banner{
    width: 100%;
    height: auto;
   margin-left: 18%;
}